<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>搜索页面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E2F1FC01EC1BC9200CF02D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2F1FD91EC1BC9400CF02D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2F1FE41EC1BC9400CF02D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
